de4a-commons/src/main/resources/xsds/canonicalEvidences/BirthCertificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns="http://www.de4a.eu/2020/data/requestor/pattern/intermediate"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BirthEvidence">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IssuingDate" type="xs:string" />
        <xs:element name="IssuingAuthority">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PrefLabel" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CerfifiedBirth">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Child">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DateOfBirth" type="xs:string" />
                    <xs:element name="PlaceOfBirth">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="GeographicName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Gender" type="xs:string" />
                    <xs:element name="GivenName" type="xs:string" />
                    <xs:element name="FamilyName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
