de4a-commons/src/main/resources/xsds/commons-type/common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cagv="https://semic.org/sa/cv/cagv/agent-2.0.0#" xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents" xmlns:cbc="https://semic.org/sa/cv/common/cbc-2.0.0#" xmlns:cdt="https://semic.org/sa/cv/common/dataTypes-2.0.0#" xmlns:ct="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- <xs:import namespace="https://semic.org/sa/cv/cagv/agent-2.0.0#" schemaLocation="../xsd-vocabularies/CV-Agent.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents" schemaLocation="../xsd-vocabularies/CoreVocabularies-AggregateComponents-1.1.xsd"/>
	<xs:import namespace="https://semic.org/sa/cv/common/dataTypes-2.0.0#" schemaLocation="../xsd-vocabularies/CV-DataTypes.xsd"/>
	<xs:import namespace="https://semic.org/sa/cv/common/cbc-2.0.0#" schemaLocation="../xsd-vocabularies/CV-CommonBasicComponents.xsd"/>
	<xs:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" schemaLocation="../xsd-vocabularies/CCTS_CCT_SchemaModule-2.1.xsd"/> -->
	<xs:include schemaLocation="common-identity-types.xsd"/>
	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Start Ids types -->
	<xs:simpleType name="RequestIdType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpecificationIdType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProcedureIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReturnServiceIdType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CanonicalEvidenceIdType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End Ids types -->
	<!-- Start Agent types -->
	<xs:complexType name="DataEvaluatorType">
		<xs:all>
			<xs:element name="Agent" type="AgentCVType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="DataOwnerType">
		<xs:all>
			<xs:element name="Agent" type="AgentCVType"/>
		</xs:all>
	</xs:complexType>
	<!-- End Agent types -->
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>Format: YYYY-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!-- Starts Evidences -->
	<xs:complexType name="EvidenceServiceDataType">
		<xs:all>
			<xs:element name="EvidenceServiceURI" type="EvidenceServiceURIType"/>
			<xs:element name="ServiceInputParameters" type="ServiceInputParametersType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CanonicalEvidenceType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomesticsEvidencesType">
		<xs:sequence>
			<xs:element name="DomesticEvidence" type="DomesticEvidenceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Language" type="xs:language" use="optional" default="en"/>
	</xs:complexType>
	<xs:complexType name="DomesticEvidenceType">
		<xs:sequence>
			<xs:element name="DomesticEvidenceIdRef"  type="xs:string"/>
			<xs:element name="IssuingType" type="IssuingTypeType"/>
			<xs:element name="MimeType" type="MimeTypeType"/>
			<xs:element name="DataLanguage" type="DataLanguageType"/>
			<xs:element name="AddtionalInfo" type="xs:string" minOccurs="0"/>
			<xs:element name="EvidenceData" type="xs:base64Binary" minOccurs="0"/> 
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviewResponseType">
		<xs:annotation>
			<xs:documentation>To be defined</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="IdRefType">
		<xs:restriction base="xs:IDREF"/>
	</xs:simpleType>
	<xs:simpleType name="IssuingTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="OriginalIssuing"/>
			<xs:enumeration value="MultinlingualFormIssuing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MimeTypeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DataLanguageType">
		<xs:restriction base="xs:language"/>
	</xs:simpleType>
	<!-- Ends Evidences -->
	<!-- Starts Others -->
	<xs:complexType name="IssuingAuthorityType">
		<xs:annotation>
			<xs:documentation>To be defined</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EvidenceServiceType">
		<xs:annotation>
			<xs:documentation>To be defined</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdminTerritorialUnitsType">
		<xs:sequence>
			<xs:element name="AdminTerritorialUnit" type="AdminTerritorialUnitType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Language" type="xs:language" use="optional" default="en"/>
	</xs:complexType>
	<xs:simpleType name="AdminLevelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvidenceServiceURIType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceInputParametersType">
		<xs:sequence>
			<xs:element name="ServiceInputParameter" type="ServiceInputParameterType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceInputParameterType">
		<xs:all>
			<xs:element name="Label" type="ServiceInputParameterLabelType"/>
			<xs:element name="Type" type="ServiceInputParameterTypeType"/>
		</xs:all>
		<xs:attribute name="Language" type="xs:language" use="optional" default="en"/>
	</xs:complexType>
	<xs:simpleType name="ServiceInputParameterLabelType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceInputParameterTypeType">
		<xs:annotation>
			<xs:documentation>Its posiblle add more enumerations elements</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Date"/>
			<xs:enumeration value="InputeText"/>
			<xs:enumeration value="YesNo"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdminTerritorialUnitType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DataRequestSubjectCVType">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="DataSubjectPerson" type="NaturalPersonIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="DataSubjectCompany" type="LegalEntityIdentifierType" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
			<xs:element name="DataSubjectRepresentative" type="NaturalPersonIdentifierType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AditionalInfoType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestGroundsType">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="LawELIPermanentLink" type="LawELIPermanentLinkType"/>
			<xs:element name="ExplicitRequest" type="ExplicitRequestType"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="LawELIPermanentLinkType">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExplicitRequestType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="SDGR14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvidenceTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Ends Others -->
	<!-- Start Error types -->
	<xs:complexType name="ErrorType">
		<xs:all>
			<xs:element name="Code" type="CodeErrorType"/>
			<xs:element name="Text" type="TextErrorType"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="CodeErrorType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextErrorType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End Error types -->
	<!-- Start ACK types -->
	<xs:simpleType name="AckType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="KO"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End ACK types -->

	<!-- Start Agent CV -->
	<xs:complexType name="AgentCVType">
		<xs:all>
			<!-- <xs:element ref="cbc:id"/>
			<xs:element ref="cbc:name"/> -->
			<xs:element name="id" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="urlRedirect" type="xs:string"  minOccurs="0" />
		</xs:all>
	</xs:complexType>
	<!-- End Agent CV -->
</xs:schema>
