de4a-pid/src/main/resources/schemas/SVDSCCNWS01v3/peticion.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/V3/peticion" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:ns2="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/V3/peticion" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" schemaLocation="datos-especificos.xsd"/>
	<xs:element name="Apellido1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúüÑñÀàÈèÌìÒòÙùÄäËëÏïÖöÜüÂâÊêÎîÔôÛûÇç·'\-\s,.()/\\]+"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellido2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúüÑñÀàÈèÌìÒòÙùÄäËëÏïÖöÜüÂâÊêÎîÔôÛûÇç·'\-\s,.()/\\]+"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Atributos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdPeticion"/>
				<xs:element ref="NumElementos"/>
				<xs:element ref="TimeStamp"/>
				<xs:element ref="Estado" minOccurs="0"/>
				<xs:element ref="CodigoCertificado"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodigoCertificado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SVDSCCNWS01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Consentimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Si"/>
				<xs:enumeration value="Ley"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosGenericos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Emisor"/>
				<xs:element ref="Solicitante"/>
				<xs:element ref="Titular"/>
				<xs:element ref="Transmision"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Documentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Emisor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NifEmisor"/>
				<xs:element ref="NombreEmisor"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado" minOccurs="0"/>
				<xs:element ref="CodigoEstadoSecundario" minOccurs="0"/>
				<xs:element ref="LiteralError" minOccurs="0"/>
				<xs:element ref="TiempoEstimadoRespuesta" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaGeneracion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Finalidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="250"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnidadTramitadora">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="250"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodProcedimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreProcedimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdExpediente">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Funcionario">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NombreCompletoFuncionario"/>
				<xs:element ref="NifFuncionario"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Procedimiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodProcedimiento"/>
				<xs:element ref="NombreProcedimiento"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdentificadorSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="[A-Za-z][0-9]{7}[0-9A-Za-z]"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdPeticion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="26"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdSolicitud">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdTransmision">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NifEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S2813001A"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NifFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="9"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="((([XxYyZz])[0-9]{7}([a-z]|[A-Z]))|([0-9]{8}([a-z]|[A-Z])))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="1"/>
				<xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúüÑñÀàÈèÌìÒòÙùÄäËëÏïÖöÜüÂâÊêÎîÔôÛûÇç·'\-\s,.()/\\]+"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreCompleto">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="122"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreCompletoFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="122"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumElementos">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Peticion">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Atributos"/>
				<xs:element ref="Solicitudes"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Solicitante">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdentificadorSolicitante"/>
				<xs:element ref="NombreSolicitante"/>
				<xs:element ref="UnidadTramitadora" minOccurs="0"/>
				<xs:element ref="Procedimiento"/>
				<xs:element ref="Finalidad"/>
				<xs:element ref="Consentimiento"/>
				<xs:element ref="Funcionario"/>
				<xs:element ref="IdExpediente" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Solicitudes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SolicitudTransmision" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SolicitudTransmision">
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenericos"/>
				<xs:element ref="ns1:DatosEspecificos"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TiempoEstimadoRespuesta">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TimeStamp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoDocumentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NIF"/>
				<xs:enumeration value="DNI"/>
				<xs:enumeration value="Pasaporte"/>
				<xs:enumeration value="NIE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Titular">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TipoDocumentacion" minOccurs="0"/>
				<xs:element ref="Documentacion" minOccurs="0"/>
				<xs:element ref="NombreCompleto" minOccurs="0"/>
				<xs:element ref="Nombre"/>
				<xs:element ref="Apellido1"/>
				<xs:element ref="Apellido2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transmision">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoCertificado"/>
				<xs:element ref="IdSolicitud"/>
				<xs:element ref="IdTransmision" minOccurs="0"/>
				<xs:element ref="FechaGeneracion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
